{% extends 'base.html.twig' %}

{% block title %}
    Agence lorem ipsum
{% endblock title %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores blanditiis dolorum,
            esse et explicabo fuga fugiat laboriosam modi molestias nemo nihil obcaecati officiis provident quisquam
            similique unde ut.</p>
    </div>

    <div class="container">
    <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary font-weight-bold lead">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}